body {
        margin: 0px;
}
.onglet {
        display: inline-block;
        margin-left:3px;
        margin-right:-7px;
        padding:3px;
        border:1px solid black;
        cursor: pointer;
}
        
.onglet_0 {
                
        background: white;
        border-bottom:1px solid black;
}

.onglet_1 {
        background: white;
        border-bottom:0px solid black;
        padding-bottom:4px;
}
.contenu_onglet {
        background: url(background-for-website.jpg) no-repeat center fixed; 
        background-color: none;
        border:1px solid black;
        margin-top:-1px;
        padding:30px;
        display:none;
}
        
ul {
        margin-top:0px;
        margin-bottom:0px;
        margin-left:-10px
}

h1 {    
        margin:0px;
        padding:0px;
        color: #322551;
        font-family: 'Comic Sans MS', cursive;
}

.logo {
        max-width: 100%;
        width: 900px;
        height: 100px
}

.koei {
        width: 30%;
        height:10%;

}

.img1 {
        max-width: 100%;
}

html {
        margin:0;
        padding:0;
        background-color: #E6E2AF;
}

p {
        font-family: 'Comic Sans MS', cursive;
        color: #000;
}

footer {
        background-color: red;
}
